<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GyftoListEntities" connectionString="metadata=res://*/GyftoListModel.csdl|res://*/GyftoListModel.ssdl|res://*/GyftoListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ac362ee0-ad08-43cc-9e31-e9241c7c8d0a.sqlserver.sequelizer.com;persist security info=True;user id=db2734;password=ZFktjzupQUrvomK5ZzpLhoT5BKvKnuczXefhKhxYc6dZEUkMiefqRJLKUpZGdRcu;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProviderType_Gyfto" value="1" />
    <add key="ProviderType_Facebook" value="2" />
    <add key="ProviderType_Other" value="3" />
    <add key="SaltIteration" value="1000" />
    <add key="Salt" value="54" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>