<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GyftoListEntities" connectionString="metadata=res://*/GyftoListModel.csdl|res://*/GyftoListModel.ssdl|res://*/GyftoListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ac362ee0-ad08-43cc-9e31-e9241c7c8d0a.sqlserver.sequelizer.com;persist security info=True;user id=db2734;password=ZFktjzupQUrvomK5ZzpLhoT5BKvKnuczXefhKhxYc6dZEUkMiefqRJLKUpZGdRcu;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>