@model GyftoList.API.Translations.API_ListShare

@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GyftoPreLaunch.cshtml";
}
<span class="topTitle">Gyfto</span>
<br />
<br />
Coming Soon.  Drop us a line at <a href="mailto:gyfo@gmail.com">gyfto@gmail.com</a> if you're interested in learning when we start opening our doors!


