@model GyftoList.API.Translations.API_User

@{
    ViewBag.Title = "Index";
}

<h2>Index page for @Html.DisplayFor(model => model.DisplayName) </h2>
<br />
<br />
@Html.DisplayFor(model => model.DisplayName) has the following lists:

<ul>
@foreach (var l in Model.Lists){
<li>
    @Html.DisplayFor(mi => l.Description)
</li>
}
</ul>
